/* NAV START */

a {
  text-decoration: none !important;
}

.navbar-light .navbar-brand {
    color: #dfdfdf !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-brand:hover {
      color: #dfdfdf !important;
      transform: scale(1.1);
      transition-duration: 0.3s;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #dfdfdf !important;
  }
  
  .navbar-toggler {
    background: #dfdfdf !important;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: 0.2rem 1rem;
    border-color: #f7404b;
  }
  .nav-link:hover {
    border-bottom: 2px solid #f7404b;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  
  .nav-link.active,
  .nav-link:focus {
    color: #dfdfdf;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #dfdfdf;
  }
  
  .navbar-light {
    border-bottom: 4px solid #f7404b;
    background-color: #050810;
  }
  
  .navbar-text {
    background-color: #dfdfdf;
  }
  
  /* NAV END */
  
  /* R S START */
  
  .twitter{
    height: 20px;
    margin-left: 8px;
  }
  
  .youtube{
    height: 20px;
    margin-left: 8px;
  }
  
  .instagram{
    height: 20px;
    margin-left: 8px;
  }
  
  .twitch{
    height: 20px;
    margin-left: 8px;
  }
  
  .tiktok{
    height: 20px;
    margin-left: 8px;
  }
  
  .twitter:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .youtube:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .instagram:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .twitch:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .tiktok:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  /* R S END */
  
  .horizontal-scrolling-banner {
    padding-top: 65px;
    overflow: hidden;
  }
  
  .sample-item-1 {
    background-color: #1b2dcf;
    height: 80px;
    min-width: 400px;
    width: 300px;
    border-top: 4px solid #f7404b;
    border-bottom: 4px solid #f7404b;
  }
  
  .sample-item-2 {
    background-color: #dfdfdf;
    height: 80px;
    min-width: 400px;
    width: 300px;
    border-top: 4px solid #f7404b;
    border-bottom: 4px solid #f7404b;
  }
  
  .sample-item-3 {
    background-color: #D81E5B;
    height: 80px;
    min-width: 400px;
    width: 500px;
    border-top: 4px solid #f7404b;
    border-bottom: 4px solid #f7404b;
  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .horizontal-scrolling-banner__helper-wrapper {
    align-items: center;
    display: flex;
    left: 0;
    transform: translateZ(0);
    transition-property: left;
    transition-timing-function: linear;
  }
  
  .body-news {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #050810; 
    text-align: center;
  }
  
  .body-background {
    background-color: #050810;
  }

  .latest-news-paragraph {
    text-align: left;
    color: #dfdfdf;
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .latest-news-subtitle{
    text-align: center;
    color: #dfdfdf;
    margin-bottom:5%;
  }
  
  /* NEWS START */

  .ligne {
    display: flex;
  }

  .card {
    border-radius: 16px;
    margin: auto;
    margin-top: 2%;
    width: 350px;
    max-width: 100%;
    height: 400px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
    background-size: cover;
  }
  
  .info {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #dfdfdf;
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
      translateY(88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title {
    margin: 0;
    padding: 24px;
    font-size: 40px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* General layout and typography stuff */
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
  
  * {
    box-sizing: border-box;
    position: relative;
    transition: all .3s ease
  }
  
  html {
    font-size: 16px
  }
  
  body {
    font-family: Open Sans, Verdana, sans-serif;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    line-height: 1.45
  }
  
  body,
  header {
    background: #fafafa
  }
  
  header {
    padding: 40px;
    min-height: 200px;
    text-align: center;
    color: rgba(0, 0, 0, .87)
  }
  
  header > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
  }
  
  header>:last-child {
    margin-bottom: 0
  }
  
  h1 {
    margin-bottom: 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    color: #1c5b72;
    font-size: 2.618em;
  }

  p {
    margin-bottom: 1.3em;
    line-height: 1.618;
    
  }
  
  a {
    color: #e03616;
    text-decoration: none
  }

  .latest-news{
    display: inline-block;
    color: #dfdfdf;
    border-left: #f7404b solid 4px;
    text-indent: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
  }


  .banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border: #dfdfdf 2px solid;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;;
  }

  .joueur {
    border:#dfdfdf 2px solid;
  }

  /* NEWS END */
  
  /* FOOTER START */

  .footer {
    padding-top: 2%;
    border-top: 4px solid #f7404b;
    background-color: #050810;
    display: flex;
    justify-content: space-between;
  }

  .footer_title {
    color: #dfdfdf !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top:20px;
  }

  .reseau {
    margin-left: 8%;
  }

  .reseau a {
    color: #f7404b;
  }

  .reseau a:hover {
    color: #292d37;
  }

  .link_footer {
    color: #dfdfdf ;
  }
  
  .link_footer:hover {
    border-bottom: 2px solid #f7404b !important;
    cursor: pointer;
  }

  .logojl-footer {
    margin-top: -10%;
    margin-left: -10%;
    
  }

  @media (max-width: 1000px) {
    .logojl-footer {
      margin-left: -0%;
      margin-top: -7%;
      margin-bottom: -7%;     
    }
    .nav-link:hover {
      border: none;
      text-decoration: underline #f7404b 3px;
    }
    .body-news {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 10%;
    }
    .body-background {
      margin-top: -10%;
    }
    .latest-news {
      margin-bottom: 7%;
    }
   }

  .legal-container {
    color: #dfdfdf;
    text-align: center;
    margin-top: 2%;
    border-top: 2px solid #f7404b;
  }

  @media (max-width: 800px) {
    .legal-container {
      margin-top: 7%;
     
    }
   }


  /* FOOTER END */

    /* CARD START */

    .card-container {
      display: flex;
    }
  
    @media (max-width: 991px) {
      .ligne {
        flex-direction: column;
        justify-content: center;
      }

      .container{
        margin-bottom: 5%;
      }
  
      .body-news {
        padding-top: 14%;
      }
    }

    @import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);

.blog-card {
  max-width: 550px;
  width:100%;
  height: 500px;
  position: relative;
  font-family: 'Droid Serif', serif;
  color:#fff;
  top: 20%;
  right: 0;  
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;
  margin: 1%;
}
.blog-card a{ 
color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.blog-card .color-overlay {
  background: rgba(64, 84, 94,0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70,0.8);
}
.blog-card:hover .title-content{
  margin-top:70px
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition:all 0.6s
}

.blog-card:hover h3:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

.blog-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Abril Fatface', serif;
  margin-bottom: 0;
  display:inline-block;
}
.blog-card h3 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.blog-card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}
.intro a{
  color: #ddd
}
.intro a:hover{
  text-decoration:underline
}
.card-info {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
  display:block;
  width:100px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 10px;
  border-radius:2px;
  font-size:0.8em
}
.card-info a:hover{
  background: #8e7c49;
  color:#fff;
}
.card-info a:hover span{
   filter: brightness(10);
   opacity:1
}
.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width:100%;
  text-align:left
}
.utility-info:after{
  content:" ";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
  background-size: 30px auto;
  display:block;
  opacity: 0.4;
  position:absolute;
  bottom:25px;
  right:15px;
  width:30px;
  height:15px
}
.utility-info a:hover{
  text-decoration:underline
}
.utility-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%;

}
.utility-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;
  
  font-size:0.8em
}

.licon{
  position:relative;  
   width:23px;
   height:15px;
   display:inline-block;
   vertical-align:middle;
}
.licon:before{
  content:"";
   background:url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
   background-size:250px;
   width:26px;
   height:20px;
   display:inline-block;
   vertical-align:middle;
   position:absolute;
   top:-3px;
   left:0;
}
.icon-white{
   filter: brightness(10);
}
.icon-black{
   filter: brightness(0);
   opacity:0.6
}
.icon-like:before{
  background-position: -183px -6px;

}
.icon-com:before{
  background-position: -63px -4px;

}
.icon-dat:before{
  background-position: -94px -7px;
}
.icon-tag:before{
  background-position: -33px -6px;

}

@media (max-width:750px)
{
  .utility-info {
    text-align:center;
  }
  .utility-info ul{
    width:100%;
    margin:0;
    box-sizing:border-box
  }
  .utility-info li{
    width:49%;
    display:inline-block;
    box-sizing:border-box;
    margin:0
  }
}

@media (max-width:500px){
  .utility-info li:last-of-type{
    width:100%
  }
  .card-info{
    display:none
  }
  .blog-card:hover .title-content,.title-content{
  margin-top:40px
}
.blog-card{
  height:300px
}
.blog-card h3{
  font-size:1.3em
}
.intro{
  font-size:0.8em
}
}


/*  ================  */

/* ignore this bit :P */
#profile-badges:after {
    content: "BRO";
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size:13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1px 4px 1px 4px;
    color: black !important;
    border-radius: 3px;
    position: relative;
    top: -2px;
    text-shadow: none !important;
    white-space: nowrap;
    letter-spacing: 0;
    background: #FFDD40;
}
.profile-header{ background:#333 url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=) top center no-repeat; background-size:cover; font-size:3em;position:relative}
.profile-header:after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(23, 23, 31, 0.42);
  z-index:0
}
#profile-links a{
  font-family: 'Abril Fatface', serif;
  font-size:1.2em
}


.profile-links a[href*=nodws\.com]:before{
    content:"\2616";
    color:#0a45b5;
    padding-right:3px
}

.profile-links a[href*=twitter]:before{
    content:"\1f426";
    color:#08c
}

.profile-links a[href*=dribbble]:before{
    content:"\26BE";
    color:#d055bf
}
#following-this-user{
  pointer-events:none
}
#follow-this-user{
    font-size:1.2em;
    border-color:#359ef9
}
#follow-this-user:after{
    content:"\1f448"
}
.links-and-stats {
    background: rgb(20, 20, 21);
}
.profile-name h1 {
   text-shadow:0 6px 9px rgba(0, 0, 0, 0.48)
}
.profile-avatar {
    bottom: -10px;
    width: 150px;
    height: 150px;
    border: 0px solid #1E1E1E;
    background: rgba(2, 2, 2, 0.49);
    box-shadow:0 19px 19px -10px rgba(0, 0, 0, 0.63)
}
.profile-username, .upsell,.profile-location,.primary-pro{
  opacity:0;
}
.upsell,#pen-as-header-question{
  display:none
}
.profile-nav-1 a{
  font-size:1.2rem;
}
.profile-bio, .profile-nav-1 a.active,.profile-nav-1 a:hover {
    color: rgba(20, 20, 21, 0.59) !important;
    font-size: 1.2rem
}
.meta .pen-title {
  font-family: 'Droid Serif', serif;
  text-align:center
}
.pagination-button{
  background-color:#2f2f31;
  border-color:#2f2f31;
  transition:all 0.2s
}
.pagination-button:hover{
  box-shadow:0 3px 8px rgba(0,0,0,0.2)
}
.single-project .stats,.single-pen .stats {
    text-align:center;
    width:100%
}
.stats svg {
    fill: #bda26b;
}
.stats svg, .loves .icon-heart {
    fill: rgba(47, 47, 49, 0) !important;
    stroke:#ba6 !important;
    stroke-width:0.1em !important;
}
.loves .icon-heart {
   stroke-width:0.5em !important;
}
.comments svg {
   stroke-width:0.35em !important;
}
.single-stat.loves.loved-1 svg
{
    stroke:#fff !important
}

.single-pen:hover h3:after{
    width:40%;
    transition:all 0.2s
}
.pen-actions{
  border:0px !important
}
.meta{
  box-shadow:none !important
}

  /* CARD END */