/* NAV START */

.navbar-light .navbar-brand {
    color: #dfdfdf;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-brand:focus {
    color: #dfdfdf;
  }
  
  .navbar-light .navbar-brand:hover {
      color: #dfdfdf;
      transform: scale(1.1);
      transition-duration: 0.3s;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #dfdfdf;
  }
  
  .navbar-toggler {
    background: #dfdfdf;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: 0.2rem 1rem;
    border-color: #f7404b;
  }
  .nav-link:hover {
    border-bottom: 2px solid #f7404b;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  
  .nav-link.active,
  .nav-link:focus {
    color: #dfdfdf;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #dfdfdf;
  }
  
  .navbar-light {
    border-bottom: 4px solid #f7404b;
    background-color: #050810;
  }
  
  .navbar-text {
    background-color: #dfdfdf;
  }
  
  /* NAV END */
  
  /* R S START */
  
  .twitter{
    height: 20px;
    margin-left: 8px;
  }
  
  .youtube{
    height: 20px;
    margin-left: 8px;
  }
  
  .instagram{
    height: 20px;
    margin-left: 8px;
  }
  
  .twitch{
    height: 20px;
    margin-left: 8px;
  }
  
  .tiktok{
    height: 20px;
    margin-left: 8px;
  }
  
  .twitter:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .youtube:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .instagram:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .twitch:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  .tiktok:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 1s;
  }
  
  /* R S END */

  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .body-news {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    background-color: #050810; 
    text-align: center;
  }
  
  .body-background {
    display: flex;
    flex-direction: column;
    background-color: #050810;
    margin-top: 5%;
  }
  

  .form-label {
    color: #dfdfdf;
  }

  #contactForm{
    margin-bottom: 10%;
  }

  .btn {
    background-color: #f7404b;
    border : 2px solid #dfdfdf;
  }

  .btn:hover{
    background-color: #f7404b;
    border : 2px solid #dfdfdf;
  }
  
  /* FOOTER START */
  
    .footer {
      padding-top: 2%;
      border-top: 4px solid #f7404b;
      background-color: #050810;
      display: flex;
      justify-content: space-between;
    }
  
    .footer_title {
      color: #dfdfdf;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top:20px;
    }
  
    .reseau {
      margin-left: 8%;
    }
  
    .reseau a {
      color: #f7404b;
    }
  
    .reseau a:hover {
      color: #292d37;
    }
  
    .link_footer {
      color: #dfdfdf;
    }
    
    .link_footer:hover {
      border-bottom: 2px solid #f7404b;
      cursor: pointer;
    }
  
    .logojl-footer {
      margin-top: -10%;
      margin-left: -10%;
      
    }
  
    @media (max-width: 800px) {
      .logojl-footer {
        margin-top: -0%;
        margin-left: -0%;
        margin-top: -7%;
        margin-bottom: -7%;     
      }
     }
  
    .legal-container {
      color: #dfdfdf;
      text-align: center;
      margin-top: 2%;
      border-top: 2px solid #f7404b;
    }
  
    @media (max-width: 800px) {
      .legal-container {
        margin-top: 7%;
       
      }
     }
  
  
    /* FOOTER END */
  